body {
    background-color:#000000;
    color: #ffffff;
    text-align: center;
}


.nav a {

   color:#000000;
}
#cajitas {
    background-color:#00ffff ;
    padding: 10px;
    font-size: 25px;
}
h3 {
    padding: 15px;
}
hr {
    margin: 20px ; 
    padding: 20px ;
    margin-right: 80px;
    margin-left: 80px;
}
#molestia {
    height: 190px;
}
.card {
    background-color: #00ffff;
    color: #ffffff;
}
#form {
    text-align: left;
}
#button {
    background-color: #00ffff;
    
}
footer {
    background-color: #00ffff;
    padding: 30px;
    color: #ffffff;
    
}
